<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hany.stockapi.mapper.ApiMapper">

    <select id="findStockBycompany_name" resultType="StockInfoDTO">
          SELECT * FROM stock_info WHERE company_name = #{company_name};
    </select>

    <select id="findTickerBycompany_name" resultType="String">
        SELECT ticker FROM stock_info WHERE company_name = #{company_name};
    </select>

    <select id="findPeriodPriceByTicker" resultType="StockPriceDTO">
        SELECT * FROM stock_price  WHERE ticker = #{ticker} order by date desc limit 50;
    </select>

    <select id="findAggregateCategory" resultType="AggregateDTO">
        SELECT * FROM category_aggregate  WHERE category = #{category} and company_name = #{company_name} and period = #{period} ;
    </select>
    <select id="findAggregateStock" resultType="AggregateDTO">
        SELECT * FROM stock_aggregate  WHERE category = #{category} and name = #{name} and period = #{period};
    </select>

    <select id="findDateAggregateCategory" resultType="DateAggregateDTO">
        SELECT * FROM date_category_aggregate  WHERE category = #{category} and name = #{name} ;
    </select>

    <select id="findPriceBycompany_name" resultType="StockNowPriceDTO">
        SELECT ticker,company_name,close,change_rate FROM now_stock_price WHERE company_name = #{company_name};
    </select>

    <select id="selectCategoryTotal" resultType="CategoryTotalDTO">
        SELECT * FROM total_category_aggregate  WHERE category = #{category} and period = #{period};
    </select>

    <select id="selectCategoryRelationStockTotal" resultType="CategoryRelationStockTotalDTO">
        SELECT * FROM total_stock_aggregate WHERE category = #{category} and period = #{period};
    </select>

    <select id="selectStockNowPriceDTO" resultType="StockNowPriceDTO">
        SELECT ticker,company_name,close,change_rate FROM now_stock_price order by change_rate desc limit 10;
    </select>

    <select id="findStock" resultType="String">
        select company_name from stock_info WHERE company_name LIKE CONCAT('%', #{query}, '%');
    </select>
    <select id="findPolitician" resultType="String">
        select name from Politician_TB WHERE name LIKE CONCAT('%', #{query}, '%');

    </select>
    <select id="findSector" resultType="String">
        select sector from KR_STOCK_SECTOR_TB WHERE sector LIKE CONCAT('%', #{query}, '%');
    </select>
    <select id="findThema" resultType="String">
        select thema from KR_STOCK_THEMA_TB WHERE thema LIKE CONCAT('%', #{query}, '%');
    </select>

    <select id="findBlogPolitician" resultType="BlogDTO">
        select title,header,href,date from politician_blog where name= #{name} order by date desc limit 10 offset #{offset};
    </select>
    <select id="findBlogThema" resultType="BlogDTO">
        select title,header,href,date from thema_blog where thema= #{name} order by date desc limit 10 offset #{offset};
    </select>
    <select id="findBlogSector" resultType="BlogDTO">
        select title,header,href,date from sector_blog where sector= #{name} order by date desc limit 10 offset #{offset};
    </select>

</mapper>
